        #root {
            width: 100%;
            height: 100%;
            color: black;
            padding: 0px;
            margin: 0px;
        }
        
        * {
            padding: 0;
            margin: 0;
            text-decoration: none;
            box-sizing: border-box;
        }
        /* ***font*** */
        
        body {
            font-family: 'Inter', sans-serif;
        }
        /* **** */
        
        .password-toggle {
            inset-inline-start: 90%;
            bottom: 20%;
            font-size: 20px;
        }
        
        .password-toggle-sinup {
            inset-inline-start: 85%;
            bottom: 20%;
            font-size: 20px;
        }
        
        .form-control[type=file]:not(:disabled):not([readonly]) {
            background-color: #FFEEE8;
        }
        
        .Sign-with a {
            border: 1px solid black;
        }
        
        .Sign-with a:hover {
            border: 2px solid #FF6636;
        }
        /* ******************btn************************ */
        
        .btnSave {
            color: white;
            background-color: #FF6636;
            border: none;
            padding-inline: 20px;
            padding-block: 10px;
            border-radius: 10px;
        }
        
        .button-style {
            padding: 12px 24px;
            transition: all 0.35s ease-in-out;
        }
        
        .mynav a {
            text-decoration: none;
            border-top: 3px white;
            color: gray;
            margin-inline: 8px;
            padding-top: 5px;
        }
        
        .mynav {
            z-index: 10000;
        }
        
        .icons-nav {
            font-size: 15px;
            display: flex;
            justify-content: space-between;
        }
        
        .navbar {
            position: relative;
        }
        
        .icons-nav a {
            margin-inline: 8px;
            color: white;
        }
        
        a:hover {
            color: white;
        }
        
        .navbar-toggler {
            color: #FF6636;
            /* margin-inline-start: 90%; */
            position: absolute;
            right: 10px;
            top: 10px;
            /* background-color: ; */
        }
        
        .mylogo {
            display: none;
        }
        
        .logo-button {
            display: flex;
            justify-content: space-between !important;
        }
        
        .height-respons {
            height: 100%;
        }
        
        .dropdown-toggle::after {
            display: none !important;
        }
        
        .btn-check:checked+.btn,
        .btn.active,
        .btn.show,
        .btn:first-child:active,
         :not(.btn-check)+.btn:active {
            border: none !important;
        }
        
        .dropdown-menu.show {
            display: block;
            width: 100%;
        }
        
        .dropdown-item:hover {
            border-inline-start: 5px solid#FF6636 !important;
        }
        
        .loader {
            border: 4px solid #f3f3f3;
            /* Light grey */
            border-top: 4px solid #FF6636;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
        }
        
        .custom-select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg fill='%23FF6536' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 0.1rem center;
            /* background-size: 1rem; */
            /* padding-right: 2rem; */
        }
        
        .custom-select option:hover {
            border-left: 5px solid #FF6536 !important;
            background-color: none;
            width: 100%;
        }
        
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        
        @media (max-width: 1000px) {
            .icons-nav {
                font-size: 15px;
                display: flex;
                justify-content: center;
            }
            .mynav a {
                margin-block: 5px;
                border: 1px solid;
                width: 100%;
                text-align: center;
            }
            .navbar-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                /* z-index: 100000; */
                padding-top: 20px;
            }
            a.active {
                border: 2px solid #FF6636;
            }
            .mylogo {
                display: flex;
                position: absolute;
                top: 5px;
                left: 10px;
            }
            .navbar {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 100000;
                /* height: 100px; */
                background-color: #1D2026;
                padding-block: 30px;
            }
            .navbar-collapse .collapse .show {
                background-color: #1D2026;
            }
        }
        
        .card-article {
            border: none;
            overflow: hidden;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            text-decoration: none;
            color: black;
            background-color: #fff;
            position: relative;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
            /* border-radius: 12px; */
            /* transition: all 0.3s ease-in-out; */
            /* animation: opasity 1s 1s ease backwards; */
        }
        
        .card-article:hover {
            transform: translateY(-8px);
            /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
            /* background-color: #f2f2f2; */
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
        }
        
        @media (max-width: 900px) {
            .form-respons {
                background-color: #EBEBFF;
            }
        }
        
        .hbtn {
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            text-decoration: none;
            color: rgb(255, 255, 255) !important;
            white-space: nowrap;
            z-index: 0;
            background-color: #FF6636 !important;
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }
        
        .hbtn i {
            padding-right: 8px;
        }
        
        .hb-fill-right::before {
            content: "";
            position: absolute;
            inset: 0 100% 0 0;
            background: rgb(255, 244, 241);
            z-index: -1;
            transition: inset 0.4s ease-in-out;
        }
        
        .hb-fill-right:hover::before {
            inset: 0 0 0 0;
        }
        
        .hb-fill-right:hover {
            color: #FF6636 !important;
            background-color: rgb(251, 250, 249);
        }
        
        .filter:hover {
            cursor: pointer;
            border: #FF6636 solid 1px !important;
        }
        
        .filter {
            cursor: pointer;
            border: #FF6636 solid 1px !important;
        }
        
        #dropdown-user {
            border: none !important;
        }
        
        .form-check-input:checked[type=radio] {
            background-color: #ff6536;
            /* لون داخلي عند التحديد */
            border-color: #ff6536;
            width: 1.2em;
            height: 1.2em;
            /* لون الحافة */
        }